# FXServer Configuration by LambentLight

# You probably don't want to change this!
# They are for servers running with multiple network interfaces/cards
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# These resources will start  by default mapmanager
start  mapmanager
start  chat
start  spawnmanager
start  sessionmanager
start  fivem
start hardcap
start  rconlog
start  playernames

exec resources.cfg
exec Permissions.cfg

# This is the RCON (remote console) password
# We have generated a cryptographically secure password, so you don't need to change it
rcon_password "0pc8tpeU/yZfBrrsiLOJtNGW0+CWFG9ZG0HGbhzM394="

# This allows players to use ScriptHookV based plugins such as Simple Native Trainer
# Set this to 1 to allow ScriptHookV
sv_scriptHookAllowed 0

# A comma-separated list of tags for your server
# For example:
# sets tags ", drifting, cars, racing"
sets tags "default roleplay"

# Set your server's hostname

sv_hostname "The Nameless test server"

set sv_projectName "The Nameless"

set sv_projectDesc "A realistic Roleplaying Whitlisted server"

sets banner details "myLogo"
sets banner connecting " "

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
sv_authMaxVariance 1

sv_authMinTrust 5

# Hide player endpoints in external log output
sv_endpointprivacy true

# Uncomment this line to use OneSync (experimental support for more than 32 players)

## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
onesync on
+set onesync on
# Maximum number of players allowed in the server (between 1 and 32, for more than 32 enable OneSync)

sv_maxclients 48

# sv_licensekey "jqbq4uv0gn9iimeurilmxa72a17kjfos"
# set steam_webApiKey "7CB3C75C8DD557E87938DF35CC7DFCD1"
# 7CB3C75C8DD557E87938DF35CC7DFCD1